In [1]:
#Classification exercise: 

# IMPORT GENERIC PACKAGES
import numpy as np # numerical calc package
import pandas as pd # holds data
import matplotlib.pyplot as plt # plotting library
import seaborn as sns # pretty plotting

sns.set(rc={'figure.figsize':(20,10)})

from sklearn.model_selection import train_test_split # split dataset

from sklearn.linear_model import LogisticRegression # linear model for classification

import sklearn.metrics as metrics

from sklearn.metrics import confusion_matrix

In [2]:
data = pd.read_csv('census.csv')

In [3]:
data.head(5)

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [8]:
# Convert text to numeric
X = pd.get_dummies(data)

X = X.drop(['income_<=50K', 'income_>50K'], axis=1) 

# Set y
y_temp = data["income"]

# Convert text to numeric
y = pd.get_dummies(y_temp)
y = y.drop('<=50K', axis=1)

In [5]:
X.head()

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,13.0,2174.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13.0,0.0,0.0,13.0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,38,9.0,0.0,0.0,40.0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,7.0,0.0,0.0,40.0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,13.0,0.0,0.0,40.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
y.head()

   >50K
0     0
1     0
2     0
3     0
4     0

In [10]:
from sklearn.datasets import load_digits
from sklearn.feature_selection import SelectKBest, chi2

In [11]:
X_new = SelectKBest(chi2, k=20)
X_new.fit(X,y)

SelectKBest(k=20, score_func=<function chi2 at 0x0000020814213438>)

In [12]:
print(X_new)

SelectKBest(k=20, score_func=<function chi2 at 0x0000020814213438>)

In [13]:
X_new.get_support()

array([ True,  True,  True,  True,  True, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False,  True, False,  True,
       False,  True, False,  True, False,  True, False, False, False,
       False, False,  True, False, False, False,  True, False,  True,
       False, False, False, False,  True,  True, False,  True,  True,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [15]:
list(X)

['age',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'workclass_ Federal-gov',
 'workclass_ Local-gov',
 'workclass_ Private',
 'workclass_ Self-emp-inc',
 'workclass_ Self-emp-not-inc',
 'workclass_ State-gov',
 'workclass_ Without-pay',
 'education_level_ 10th',
 'education_level_ 11th',
 'education_level_ 12th',
 'education_level_ 1st-4th',
 'education_level_ 5th-6th',
 'education_level_ 7th-8th',
 'education_level_ 9th',
 'education_level_ Assoc-acdm',
 'education_level_ Assoc-voc',
 'education_level_ Bachelors',
 'education_level_ Doctorate',
 'education_level_ HS-grad',
 'education_level_ Masters',
 'education_level_ Preschool',
 'education_level_ Prof-school',
 'education_level_ Some-college',
 'marital-status_ Divorced',
 'marital-status_ Married-AF-spouse',
 'marital-status_ Married-civ-spouse',
 'marital-status_ Married-spouse-absent',
 'marital-status_ Never-married',
 'marital-status_ Separated',
 'marital-status_ Widowed',
 'occupation_ Adm-clerical',
 'occupation_ Armed-Forces',
 'occupation_ Craft-repair',
 'occupation_ Exec-managerial',
 'occupation_ Farming-fishing',
 'occupation_ Handlers-cleaners',
 'occupation_ Machine-op-inspct',
 'occupation_ Other-service',
 'occupation_ Priv-house-serv',
 'occupation_ Prof-specialty',
 'occupation_ Protective-serv',
 'occupation_ Sales',
 'occupation_ Tech-support',
 'occupation_ Transport-moving',
 'relationship_ Husband',
 'relationship_ Not-in-family',
 'relationship_ Other-relative',
 'relationship_ Own-child',
 'relationship_ Unmarried',
 'relationship_ Wife',
 'race_ Amer-Indian-Eskimo',
 'race_ Asian-Pac-Islander',
 'race_ Black',
 'race_ Other',
 'race_ White',
 'sex_ Female',
 'sex_ Male',
 'native-country_ Cambodia',
 'native-country_ Canada',
 'native-country_ China',
 'native-country_ Columbia',
 'native-country_ Cuba',
 'native-country_ Dominican-Republic',
 'native-country_ Ecuador',
 'native-country_ El-Salvador',
 'native-country_ England',
 'native-country_ France',
 'native-country_ Germany',
 'native-country_ Greece',
 'native-country_ Guatemala',
 'native-country_ Haiti',
 'native-country_ Holand-Netherlands',
 'native-country_ Honduras',
 'native-country_ Hong',
 'native-country_ Hungary',
 'native-country_ India',
 'native-country_ Iran',
 'native-country_ Ireland',
 'native-country_ Italy',
 'native-country_ Jamaica',
 'native-country_ Japan',
 'native-country_ Laos',
 'native-country_ Mexico',
 'native-country_ Nicaragua',
 'native-country_ Outlying-US(Guam-USVI-etc)',
 'native-country_ Peru',
 'native-country_ Philippines',
 'native-country_ Poland',
 'native-country_ Portugal',
 'native-country_ Puerto-Rico',
 'native-country_ Scotland',
 'native-country_ South',
 'native-country_ Taiwan',
 'native-country_ Thailand',
 'native-country_ Trinadad&Tobago',
 'native-country_ United-States',
 'native-country_ Vietnam',
 'native-country_ Yugoslavia']

In [81]:
#Select features 

# write list of features we want to use
features = ["age", "education_level", "marital-status", "occupation", "race", "sex", "workclass", "hours-per-week"]

# Set X
X_temp = data[features]

# Convert text to numeric
X = pd.get_dummies(X_temp)

# Set y
y_temp = data["income"]

# Convert text to numeric
y = pd.get_dummies(y_temp)
y = y.drop('<=50K', axis=1)

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 42)

In [83]:
import xgboost as xgb

In [84]:
from xgboost import XGBClassifier

In [85]:
# initialize model
log_reg = XGBClassifier()

# fit model
log_reg.fit(X_train, y_train)

# metrics (accuracy)
acc = log_reg.score(X_test, y_test)


# predictions
y_pred = log_reg.predict(X_test)

acc

0.8387970589861241

In [86]:
metrics.precision_score(y_test, y_pred)

0.7337998174627319

In [87]:
metrics.recall_score(y_test, y_pred)

0.5416573096788682